<footer class="footer">
  <small>
    <a href="https://rubyonrails.org">Ruby on Rails</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://weblog.rubyonrails.org">Blog</a></li>
    </ul>
  </nav>
</footer>
